@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  background: #000;
  color: #0f141e;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.info-links {
  color: #fff;
  text-decoration: none;
}

a:active {
  color: blue;
}

a:visited {
  color: grey;
}

.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

.avatar {
  width: 300px;
  height: 200px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(30, 255, 0, 0.384);
}

.info {
  margin-bottom: 20px;
  display: flex;
}

.info-text {
  color: #fff;
  margin-left: 40px;
}

.info-text p {
  font-style: italic;
  font-weight: bold;
  color: #86898f;
  margin: 0;
}

.info-text h4 {
  margin-bottom: 10px;
  color: #fff;
}

@media (max-width: 650px) {
  .info {
    display: block;
    text-align: center;
  }

  .info-text {
    margin-left: 0;
  }
}

.title {
  text-decoration: 2px underline rgb(0, 0, 0);
  align-content: center;
  text-align: center;
}

.card {
  border-radius: 20px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.card h2 {
  margin: 0 0 20px;
}

.bg-one {
  opacity: 0.7;
  background: url("../img/bg/gradient-one.jpg") center center/cover no-repeat;
}

.bg-two {
  opacity: 0.7;
  background: url("../img/bg/gradient-two.jpg") center center/cover no-repeat;
}

.bg-three {
  opacity: 0.7;
  background: url("../img/bg/gradient-three.jpg") center center/cover no-repeat;
}

.bg-one:hover {
  opacity: 1;
}

.bg-two:hover {
  opacity: 1;
}

.bg-three:hover {
  opacity: 1;
}

.btn {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  background: #111;
  padding: 15px 20px;
  color: #fff;
  box-shadow: 0 0 30px rgba(132, 0, 255, 0.25);
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  box-shadow: none;
  opacity: 0.4;
}

.list {
  padding: 0 20px;
}

.list li {
  color: #fff;
  margin-bottom: 10px;
}

.p-list {
  list-style: none;
  padding: 0;
}

.p-list li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.table {
  width: 100%;
}

.table td {
  padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  color: #fff;
}

@media (max-width: 650px) {
  body {
    font-size: 12px;
  }
}

.form {
  padding: 15px 20px;
  border: 1px dashed #fff;
  border-radius: 20px;
}

.form h2 {
  text-align: center;
}

.form-title {
  margin-top: 50px;
  text-align: center;
  color: #fff;
}

.form-row {
  margin-bottom: 30px;
  display: flex;
}

.form-row .form-group {
  margin-right: 20px;
  width: 50%;
  /* display: inline-block; */
  /* width: calc(50% - 20px); */
}

.form-row .form-group:last-child {
  margin-right: 0;
}

@media (max-width: 650px) {
  .form-row {
    display: block;
  }

  .form-row .form-group {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .table td:nth-child(3) {
    
  }
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #86898f;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #fff;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.form-group_textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
}
